:root {
    --dark: #425266
}
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper {
    width: fit-content;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}
#game-grid {
    width: 360px;
    height: 360px;
    margin: 20px 0 0 20px;
    border: 1px solid var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor:pointer;
}
.square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid  var(--dark);
}
.field {
    border-bottom: 1px solid  var(--dark);
    border-left: 1px solid  var(--dark);
}
.field:nth-child(3n) {
    border-right: 1px solid  var(--dark);
}
.side-controls {
    margin-top: 20px;
    width: 240px;
    height: 360px;
    display: grid;
    grid-template-rows: 1fr 260px 1fr;
    align-items: space-between;
}
#num-pad {
    height: 240px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    margin-top: 1rem;
}
.num-pad-item {
    border-radius: 0.3rem;
    background-color: #dee5ed;
    font-size: 2.5rem;
    color:  var(--dark);
    text-align: center;
    padding-top: 0.8rem;
    transition: 0.3s;
    cursor: pointer;
}
.num-pad-item:hover {
    background-color:#b9bfc5;
}
.new-game {
    background-color: #90a4bd;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    padding-top: 0.4rem;
    border-radius: 0.3rem;
    transition: 0.3s;
    cursor: pointer;
}
.new-game:hover {
    background-color: #a3bbd9;
}
.control-pad {
    
    display: grid;
    grid-auto-flow: column;
    gap: 0.3rem;

    
}
.control-item {
    height: 55px;
    border-radius: 50%;
    background-color: #dee5ed;
}
.active{
    background-color: #dee5ed;
}
